/* ProductDetails.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



body.modal-open {
  overflow: hidden;
}

.product-details-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* adjust the opacity as needed */
  backdrop-filter: blur(1px); /* apply blur effect */
  -webkit-backdrop-filter: blur(5px);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
}



.product-details-modal {
  /* Fallback to sans-serif font if Poppins fails to load */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 70%;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  overflow: auto; /* Make the modal scrollable */
}



/* rest of your existing styles */

.exit-icon {
  position: absolute;
  top: 10px;
  right: 24px;
  cursor: pointer;
  font-size: 24px;
  transition: transform 0.3s ease; /* Adding transition for smooth hover effect */
}

.exit-icon:hover {
  transform: scale(1.4); /* Scale up the icon on hover and click */
}


.product-details-content {
  display: flex;
  justify-content: space-between;
}

.product-details-left {
  flex: 1;
  
}

.product-details-image {
  min-width: 360px;
  width: 100%;
  height: auto;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  
}

.image-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.image-modal-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.product-details-right {
  flex: 2;
  padding-left: 20px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.product-details-title {
  text-align: center;
  font-size: 35px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

.product-details-price {
  
  font-size: 30px;
  margin-top: 30px;
}

.current-price {
  font-weight: 600;
}

.current-price,
.old-price,
.saving {
  margin-right: 5px;
  font-family: 'Poppins', sans-serif;
}

.old-price {
  color: #999;
  text-decoration: line-through;
  margin-right: 10px;
  font-size: 15px;
}

.saving {
  background-color: #78a206;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 5px;
}

.product-details-size {
  margin-top: 20px;
}

.product-details-size label {
  display: block;
  margin-bottom: 5px;
}

#volume {
  font-size: larger;
}

.product-details-size select {
  background-color: white;
  border: solid 1px #7c7c7c;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  color: #4b4a4a;
  width: 180px;
  height: 48px;
  font-family: 'Poppins', sans-serif;

}

.product-details-quantity {
  margin-top: 10px;
  
}

.quantity-controls {

  display: flex;
  align-items: center;
  background-color: white;
  border: solid 1px #7c7c7c;
  border-radius: 5px;
  font-size: 16px;
  color: #4b4a4a;
  width: 180px;
  height: 48px;
}

.quantity-btn {
  border: none;
  padding: 5px;
  cursor: pointer;
  background-color: transparent;

}

.forbidden-cursor {
  cursor: not-allowed;
}



#quantity {

  width: 100%;
  text-align: center;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  background-color: transparent;
  outline: none;
}

#quantity-icon {
  font-size: small;
  color: #424141;
  padding: 0 6px;
}



.order-now-btn {
  background-color: #78a206;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  transition: all 0.4s ease-out;
  width: 250px;
}

.order-now-btn:hover {
  color: #78a206;
  border: solid 2.5px #78a206;
  background-color: white;
  font-weight: bolder;
}

.order-now-btn i {
  margin-left: 5px;
}

.product-description {
  
  margin-top: 20px;
}

.product-description p {
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
  margin-bottom: 0px;
  margin-right: 10px;
}

.whatsapp-icon {
  margin-left: 9px;
  margin-right: -5px;
  margin-bottom: -7px;
}

label {
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.tag-icon {
  transform: scaleX(-1);
  margin-right: 3px;
  margin-left: -5px;

}

@media (max-width: 800px) {
  .product-details-overlay {
    padding: 0;
  }

  .product-details-modal {
    width: 100%;
    height: 100%;
    border-radius: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .exit-icon {
    top: 30px;
    left: 35px;
    right: auto;
    transform: scale(1.2);

  }

  .product-details-content {
    flex-direction: column; /* Stack the elements vertically */
    padding: 0% 10%;
    padding-top: 200px;
    
  }

  .product-details-left {
    margin: auto;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .product-details-title {
    align-items: center;
    font-size: 28px;
  }

  .product-details-right {
    padding-left: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
  }

  .product-details-image {
    max-width: 300px;
    width: 100%;
    height: auto;
    border-radius: 10px;
  }
  

  .saving {
    margin-bottom: 10px;
  }

  .order-now-btn {
    max-width: 520px;
    width: 100%;
  }
}

@media (max-width: 460px) {
  .product-details-overlay {
    padding: 0;
  }

  .product-details-modal {
    width: 100%;
    height: 100%;
    border-radius: 0;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .exit-icon {
    top: 30px;
    left: 35px;
    right: auto;
    transform: scale(1.2);
  }

  .product-details-content {
    flex-direction: column; /* Stack the elements vertically */
    padding-top: 170px;
    padding-bottom: 20px;
  }

  .product-details-left {
    margin: auto;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .product-details-title {
    align-items: center;
    font-size: 24px; /* Adjust font size for smaller screens */
  }

  .product-details-right {
    padding-left: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
  }

  .product-details-image {
    max-width: 300px;
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .saving {
    margin-bottom: 10px;
  }

  .order-now-btn {
    max-width: 320px; /* Adjust maximum width for smaller screens */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .whatsapp-icon {
    margin-left: 5px; /* Adjust icon margin for smaller screens */
    margin-right: -5px; /* Adjust icon margin for smaller screens */
    margin-bottom: -7px; /* Adjust icon margin for smaller screens */
  }

  .product-description {
    margin-top: 20px;
  }

  .product-description p {
    font-size: 14px; /* Adjust font size for smaller screens */
  }

  .product-details-size select {
    width: 100%; /* Adjust select width for smaller screens */
  }

  .product-details-quantity .quantity-controls {
    width: 100%;
  }

  .tag-icon {
    transform: scaleX(-1);
    margin-right: 3px;
    margin-left: -5px;
  }

  label {
    font-size: 14px; /* Adjust label font size for smaller screens */
  }
}

@media (max-width: 460px) {
  .product-details-price {
  
    font-size: 20px;
    
  }
  .saving {
    font-size: 11px;
  }
}
