
.footer {
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #eda600; 
  color: #fff; /* White text color */
  padding-top: 2rem; /* Top padding */
}

.footer-container {
  width: 90%; /* Container width */
  margin: 0 auto; /* Center the container horizontally */
}

.footer-row {
  display: flex; /* Use flexbox for layout */
  gap: 5%; /* Spacing between columns */
}

.footer-row:last-child {
  border-top: 1px solid #fff; /* Top border */
  padding-top: 1.5rem; /* Top padding */
  margin: auto; /* Center the row horizontally */
  font-size: 18px; /* Font size */
  width: 50%; /* Width of the row */
  height: 4rem;
}

.footer-column {
  margin-right: 2%; /* Right margin between columns */
}

.footer-column:first-child {
  width: 60%; /* Width of the first column */
}

.footer-column:last-child {
  margin-right: 0px; /* No right margin for the last column */
}

.footer-column:first-child p {
  font-size: 19px; /* Font size for paragraphs in the first column */
}

.footer-column h3 {
  margin-bottom: 1rem; /* Bottom margin for headings */
  font-size: 20px; /* Font size for headings */
  color: #fffcf7; /* Orange header color */
}

.social-icons a,
.contact-icons a {
  color: #f5f4f2; /* Orange icon color */
  font-size: 2rem; /* Font size for icons */
  margin-right: 1rem; /* Right margin for spacing between icons */
}

.social-icons a:hover,
.contact-icons a:hover {
  color: #78a206; /* Lighter shade of orange on hover */
}

.thank-you {
  flex-basis: 100%; /* Full width */
  text-align: center; /* Center text */
  font-size: 19px; /* Font size */
}

.footer.rtl {
  text-align: right; /* Align text to the right */
  direction: rtl;
}

.footer.rtl .social-icons a,
.footer.rtl .contact-icons a {
  margin-right: 0; /* Right margin for spacing between icons in RTL languages */
  margin-left: 1rem; /* Reset left margin */
}


@media (max-width: 1120px) {
  .footer-container {
    width: 95%; /* Adjust container width for smaller screens */
  }
}

@media (max-width: 910px) {

  .footer-column h3 {
    margin-bottom: 0.3rem; /* Bottom margin for headings */
  }

  .footer-column p {
    margin-bottom: 0px;
  }

  .footer-column:first-child {
    width: 90%; /* Width of the first column */
    border: none;
    padding-top: 0px;
  }

  .footer-column:last-child {
    margin: auto;
    margin-bottom: 1rem; /* No right margin for the last column */
    
  }
 

  .footer-column {
    margin: auto;
    width: 90%; /* Set the width of the first column to full width */
    border-top: 1px solid #fff; /* Top border */
    padding-top: 1rem; /* Top padding */
    margin-bottom: 1rem;
  }

  .footer-row {
    flex-direction: column; /* Stack columns vertically */
  }

  

  .footer-row:last-child {
    width: 90%; /* Adjust width of the last row */
  }
}

@media (max-width: 601px) {
  .footer {
    display: none; /* Show on mobile */
    
  }

  /* Add mobile-specific styles here */
}
