/* LanguageSelect.css */

.language-select {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .language-select:hover {
    cursor: pointer;
  }
  
  .language-select select {
    padding: 12px; /* Increase padding for a bigger select */
    border: none;
    background-color: #fff4db;
    color: #333;
    font-size: 15px; /* Increase font size for a bigger select */
    appearance: none;
    cursor: pointer;

  }

  
  option {
    background-color: #fff;
    cursor: pointer;

  }
  
  .language-select select:focus {
    outline: none;
    cursor: pointer;

  }
  
  .language-select i {
    cursor: pointer;

    color: #333; /* Color of the arrow icon */
  }
  
  