/* Navbar styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff4db;
  padding: 20px;
}

.logo {
  padding-left: 1%;
}

.logo img {
  padding-top: 5px;
  height: 38px;
}

.menu-icon {
  display: none;
}

.exit-icon {
  font-size: 30px;
}

.navigation-links {
  list-style-type: none;
  display: flex;
  padding: 0;
  gap: 70px;
}



.navigation-links.show {
  gap: 0;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 240px;
  background-color: #fff4db;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 999;
  animation: slideIn 0.3s ease forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

#navselect {
  display: block;
}


.navigation-links li:last-child {
  margin-bottom: 0;
}

.navigation-links li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 18px;
  transition: color 0.3s ease;
}

.navigation-links li a:hover {
  color: #ff5733;
}

.navdrawer-top {
  display: none;
}

@media screen and (max-width: 760px) {
  .navigation-links {
    display: none;
  }

  .navigation-links li {
    margin-bottom: 20px;
  }

  .navdrawer-top {
    gap: 70px;
    display: block;
    display: flex;
    margin-bottom: 40px;
  }

  .navdrawer-top .exit-icon {
    margin-top: 10px;
  }

  .menu-icon {
    display: block;
  }
}
