
/* Styling the scrollbar track */
::-webkit-scrollbar {
    width: 10px; /* Adjust the width of the scrollbar */
    height: 10px; /* Adjust the height of the scrollbar for horizontal scroll */
  }
  
  /* Styling the scrollbar handle */
  ::-webkit-scrollbar-thumb {
    background: #2f3542; /* Color of the scrollbar thumb */
    border-radius: 5px; /* Rounded corners of the scrollbar thumb */
    border: 1px solid #ecf0f1; /* Optional: Adds a border around the scrollbar thumb */
  }
  
  /* Styling the scrollbar track (background) */
  ::-webkit-scrollbar-track {
    background: none; /* Color of the scrollbar track */
    border-radius: 5px; /* Rounded corners of the scrollbar track */
  }
  
  /* Handle scrollbar thumb hover state */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar thumb on hover */
  }