/* ProductCard.css  */

.product-grid {
    max-width: 500px; /* Adjust width as needed */
    margin: 10px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    border-radius: 15px;
    border: 1px solid #e7e7e7;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.4s ease-out;
}

.product-grid:hover {
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.1);
}

.product-grid .product-image {
    position: relative;
}

.product-grid .product-image .image {
    margin-left: 0px;
}

.product-grid .product-image a.image {
    display: block;
}

.product-grid .product-image img {
    width: 250px;
    height: 300px;
}

.product-grid .product-discount-label {
    color: #fff;
    background: #78a206;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 2px 8px;
    border-radius: 5px;
    position: absolute;
    top: 12px;
    left: 12px;
}

.product-grid .product-content {
    padding: 12px 12px 15px;
    position: relative;
}

.product-grid .title {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0 15px;
}

.product-grid .title a {
    color: #2c2c2c;
    transition: all 0.3s ease 0s;
}

.product-grid .title a:hover {
    color: #78a206;
}

.product-grid .price {
    color: #78a206;
    font-size: 17px;
    font-weight: 600;
    display: block;
    transition: all 0.4s ease-in-out;
}

.product-grid .price span {
    color: #999;
    font-weight: 500;
    text-decoration: line-through;
}

.product-grid:hover .price {
    opacity: 0;
}

.product-grid .view-more {
    color: #fff;
    background-color: #78a206;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 40px;
    width: 140px;
    height: 40px;
    border-radius: 50px;
    opacity: 0;
    transform: translateX(-50%);
    position: absolute;
    bottom: 50px;
    left: 50%;
    transition: all 0.4s ease-out;
}

.product-grid .view-more:hover {
    background-color: #2f2f2f;
}

.product-grid:hover .view-more {
    opacity: 1;
    bottom: 20px;
}



